![logo_jupyter.png]()

Kursus Python untuk Pemula

# Operator
Author : Afif A. Iskandar ([@afif.ai](https://instagram.com/afif.ai))

Seperti dalam matematika, operator dalam python memiliki fungsi untuk memanipulasi operan atau dua objek yang mengapit operator tersebut

misalkan `46 + 12`, berarti `46` dan `12` merupakan operan dan `+` merupakan operatornya.

Dalam Python, ada beberapa jenis operator, diantaranya : 

- [Operator Aritmatika (Numerik)](#operator-aritmatika)
- [Operator String](#operator-string)
- [Operator Komparasi / Perbandingan](#operator-perbandingan)
- [Operator Logika](#operator-logika)
- [Operator Keanggotaan](#operator-keanggotaan)

### Operator Aritmatika <a name="operator-aritmatika"></a>

Operator aritmatika adalah operator yang biasanya diimplementasikan ke tipe data numerik (`integer`, `float`, `boolean`, `complex`). Operasi yang adalah operasi yang biasanya ada dalam kalkulator 

| Operator| 	Penggunaan	 | Keterangan |
| --- | --- | --- |
| Penjumlahan `+`| 	`46 + 12` | Melakukan operasi penjumlahan pada bilangan |
| Pengurangan `-`| 	`31 - 25`	 | Melakukan operasi pengurangan pada bilangan |
| Perkalian `*`| 	`2 * 4`	 | Melakukan operasi perkalian pada bilangan |
| Pembagian `/`| 	`10 / 5`	 | Melakukan operasi pembagian pada bilangan dengan hasil `float`|
| Pembagian Bulat `//`| 	`10 // 3` |	Melakukan operasi pembagian pada bilangan dengan hasil `int` |
| Modulus `%`| 	`11 % 2`	 | Menghasilkan sisa bagi dari operator pembagian |
| Pangkat `**`| 	`8 ** 2`	 | Melakukan operasi pemangkatan pada bilangan |

berikut adalah contoh penggunaan operator aritmatika dalam python

In [1]:
# melakukan operasi penjumlahan dan langsung ditampilkan menjadi output
print( 8 + 11)

19

In [2]:
# deklarasi variabel
gaji = 5000000
tunjangan = 500000

# melakukan operasi penjumlahan dan disimpan dalam variabel
total_net = gaji + tunjangan

# tampilkan hasil
print("Total Pemasukan : Rp.", total_net)

Total Pemasukan : Rp. 5500000

In [3]:
# rumus luas segitiga
# deklarasikan alas & tinggi
alas = 5
tinggi = 10

# perhitungan luas segitiga
luas_segitiga = (1/2) * alas * tinggi

# tampilkan hasil 
print("Luas Segitiga :",luas_segitiga)

Luas Segitiga : 25.0

In [4]:
# pembagian dan sisa bagi
# deklarasikan angka
angka_1 = 17
angka_2 = 5

# hitung pembagian
hasil_bagi = angka_1 / angka_2
hasil_bagi_bulat = angka_1 // angka_2
sisa_bagi = angka_1 % angka_2

print("Hasil Bagi:", hasil_bagi)
print("Hasil Bagi Bulat:", hasil_bagi_bulat)
print("Sisa Bagi:", sisa_bagi)

Hasil Bagi: 3.4
Hasil Bagi Bulat: 3
Sisa Bagi: 2

Prioritas operasi yang digunakan Python adalah seperti operasi pada kalkulator saintifik, sehingga urutan operasinya adalah : 
- Pangkat
- Perkalian / Pembagian
- Penjumlahan / Pengurangan

Contoh :

In [5]:
print( 2 + 5 ** 2 * 3 - 2)

75

Untuk membuktikannya, silahkan hitung secara manual hehehe

### Operator String  <a name="operator-string"></a>

Operator string adalah operator yang biasanya diimplementasikan ke string (ya iyalah). Operator string punya interface yang sama dengan beberapa operator aritmatika, namun dengan fungsi yang berbeda (polymorphism)

| Operator| 	Penggunaan	 | Keterangan |
| --- | --- | --- |
| Penggabungan / Concatenation `+`| 	`"Ngoding" + "Python"` | Menggabungkan 2 string, operasi ini harus dilakukan antara string dan string|
| Repeating `*`| 	`"Afif" * 5`	 | Melakukan operasi pengulangan concatenation selama `n` kali. Operasi ini harus dilakukan antara string dan integer |

In [6]:
# eksekusi langsung operasi string
print("Ngoding" + "Python") # menggabungkan 2 string
print("Afif" * 5) # mengulang string

NgodingPython
AfifAfifAfifAfifAfif

#### Trivia : 
Saat kita melakukan `"Afif" * 5` artinya kita menggabung `"Afif"` sebanyak 5 kali, seperti definisi perkalian pada bilangan

```
"Afif" * 5 = "Afif" + "Afif" + "Afif" + "Afif" + "Afif"
```

In [7]:
# Operasi dengan variabel
string_1 = "Ngoding"
string_2 = "Python"
hasil = string_1 + string_2
print(hasil)

NgodingPython

In [8]:
# contoh lain
nama = "Afif"
usia = "19"

print("Halo, Nama Saya " + nama + " dan usia saya " + usia + " tahun")
print("=" * 43)

Halo, Nama Saya Afif dan usia saya 19 tahun
===========================================

### Operator Perbandingan  <a name="operator-perbandingan"></a>

Operator perbandingan digunakan untuk membandingkan nilai dua operan yang mengapin operator tersebut. Operator perbandingan akan menghasilkan `boolean` sebagai output, yaitu `True` apabila perbandingan benar dan `False` apabila perbandingan salah.

| Operator	| Contoh	| Keterangan |
| --- | --- | --- |
| `==` | 	`1 == 1`  | Sama dengan |
| `!=` atau `<>` |	`2 != 2`  | Tidak Sama dengan |
| `>` |	`5 > 3`  | Lebih Besar Dari |
| `<` |	`5 < 3`  | Lebih Kecil Dari |
| `>=` |	`5 >= 3`  | Lebih Besar Sama Dengan Dari |
| `<=` |	`5 <= 3`  | Lebih Kecil Sama Dengan Dari |

berikut adalah contoh penggunaan operator perbandingan dalam python

In [9]:
# eksekusi langsung operasi tidak sama dengan

print( 4 != 2 ) # True karena 4 tidak sama dengan 2

True

In [10]:
print( 3 < 2 ) # False karena 3 tidak lebih kecil dari 2

False

In [11]:
# operasi dari variabel
angka_1 = 5
angka_2 = 7

# simpan hasil perbandingan kedalam variabel
hasil = angka_1 < angka_2

# print hasil perbandingan 
print(hasil)

True

Operator diatas akan berguna untuk kondisi pada `if-else` maupun pengulangan `while` yang akan dibahas pada lesson selanjutnya

### Operator Logika  <a name="operator-logika"></a>

Operator logika digunakan untuk mengoperasikan tipe data `boolean` dengan aturan logika matematika. Operator yang digunakan adalah `and` dan `or`.

Berikut adalah tabel logika `and` dan `or` :

| operan_1	| operan_2	| hasil `and` | hasil `or` |
| --- | --- | --- | --- |
| `True` | `True` | `True` | `True` |
| `True` | `False` | `False` | `True` |
| `False` | `True` | `False` | `True` |
| `False` | `False` | `False` | `False` |

berikut adalah contoh penggunaan operator logika dalam python

In [12]:
# operasi langsung OR antara True dan False
print(True or False)

True

In [13]:
# operasi dengan variabel

bool_1 = True
bool_2 = True
hasil = bool_1 and bool_2
print(hasil)

True

Anda juga dapat mengoperasikan hasil dari operator perbandingan

In [14]:
print(2 < 4 or 5 > 2) # melakukan operasi True or True

True

Prioritas operasi logika yang digunakan Python : 
- and
- or

Anda dapat menganalogikan operasi `and` seperti operasi perkalian `*` dan operasi `or` seperti operasi penjumlahan `+`

In [15]:
print(True or False and True or True)

True

Lagi-lagi apabila ingin mengkonfirmasikan secara manual bisa coba sendiri ya, hehehehe

### Operator Keanggotaan  <a name="operator-keanggotaan"></a>

Operator keanggotaan memiliki fungsi untuk mengecek apakah suatu item berada pada suatu data. Sebagai contoh apakah suatu karakter / sub-string berada pada suatu string atau apakah suatu data berada pada suatu tipe data majemuk.

Operan yang digunakan adalah :
- `in` (mengecek apakah ada ?)
- `not in` (mengecek apakah tidak ada ?)

In [16]:
# cek apakah ada suatu karakter dalam string
print("y" in "NgodingPython")

True

Sebagai pengingat mengenai `case sensitive`, hal ini juga berlaku pada operator keanggotaan

In [18]:
# cek apakah huruf p ada pada string NgodingPython
print("p" in "NgodingPython")

False

In [19]:
# cek data di sebuah list
my_list = ["Pepaya", "Mangga", "Pisang", "Jambu"]
buah = "Mangga"

# cek apakah data pada
print(buah in my_list)

True

In [21]:
# masalah case sensitive
buah = "jambu"
print(buah in my_list)

False